body{
           background-color: rgb(123, 229, 248);
           color: rgb(196, 84, 122);
        }
        h1{
            color:hotpink
        }

#curtidas{
    background-color:rgb(224, 124, 203);/*cor de fundo*/
    color:rgb(197, 110, 110);
    padding:5px 10px 5px 10px;
    border:2px solid rgb(48, 139, 155);
}