body{
           background-color: rgb(123, 229, 248);
           color: rgb(196, 84, 122);
        }
        h1{
            color:hotpink
        }

     #curtidas{
background-color:red;/*cor de fundo*/
color:brown
padding:5px 10px 5px 10px
borde:2px 

    }